{% extends "layout.html" %}

<!-- title of page -->
{% block title %}
Park Map
{% endblock %}

{% block main %}

<!-- alert for when user logs in -->
<div class ="alert-messages">
  {% if success_login %}
  <div class="alert alert-primary fade show p-1" role="alert" style="position:abolute;z-index:999;">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"></span></button>
    {{ success_login }}
  </div>
  {% endif %}
</div>
<!-- Div that holds the temp boostrap notification -->
<div id="alert_placeholder"></div>
<!-- JS script to hide and show the login error -->
<script src="static/js/DismissLogin.js"></script>
<body>
  <!-- script to load the google maps JS API to use on the front end of our web app -->
  <!-- this will try to load a function called init map -->
  <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdojekZi5cr_AdmgSpt_4KIS_JA0x8Ax0&callback=initMap"></script>
  <!-- https://www.w3schools.com/css/css3_flexbox.asp -->
  <!-- div to place the map on the left side of the window -->
  <div class="flex-container">
    <!-- div to place the text on the right hand side of the window -->
    <!-- also use jinja to dynamically name each heading and paragraph of each park in this generated list for us to loop through later with JS -->
    <div class="col-md-4">
      <div class="margin: auto 1.5em; display: inline-block">
        <div class="Skatepark list">
          <!-- jinja forloop to create unique divs for each park from my python dict-->
          {% for dictionary in index_park_info %}
          <div class="list_item" id="Park {{ dictionary["place_id"] }}">
            <h5 class="{{ dictionary["place_id"] }}">
              {{ dictionary["name"] }}
            </h5>
            <p class="{{ dictionary["place_id"] }}">
              {{ dictionary["formatted_address"] }}
            </p>
            {% if dictionary["phone"] is not none %}
            <p class="{{ dictionary["place_id"] }}">
              {{ dictionary["phone"] }}
            </p>
            {% endif %}
            {% if dictionary["website"] is not none %}
            <p class="{{ dictionary["place_id"] }}">
              <a href= "{{ dictionary["website"] }}" > Website </a>
            </p>
            {% endif %}
            <!-- boostrap buttons to add that park to the users saved park and also navigate them to the reviews tab!-->
            <!-- create a button that calls a python function in my flask webserver when its pressed -->
            <button type="button" class="btn btn-outline-primary add_to_parks_buttons" id="{{ dictionary["place_id"] }}">Add to My Parks</button>
            <button type="button" class="btn btn-outline-info go_to_reviews" id="{{ dictionary["place_id"] }}">Reviews</button>
          </div>
          {% endfor %}
          <!-- JS for the index page, detailed comments inside the file -->
          <script src="static/js/Index.js"></script>
          <!-- script to render the map -->
          <!-- https://www.youtube.com/watch?v=Zxf1mnP5zcw&t=131s -->
          <!-- https://www.youtube.com/watch?v=oVr6unKZbg4 -->
          <script src="static/js/RenderMap.js"></script>
        </div>
      </div>
    </div>
    <!-- https://www.youtube.com/watch?v=tiV4hJ30zIc -->
    <div class="col-md-8">
      <div class="margin: auto 1.5em; display: inline-block">
        <!-- https://www.youtube.com/watch?v=x99gNzHtm0k -->
        <!-- https://stackoverflow.com/questions/16466240/adjusting-and-image-size-to-fit-a-div-bootstrap -->
        <div id="map"></div>
      </div>
    </div>
  </body>
  {% endblock %}
