/*  https://cs50.harvard.edu/x/2020/tracks/web/finance/ */

nav .navbar-brand
{
  /* size for brand */
  font-size: xx-large;
}

form {
  margin-top: 99px;
}

main .form-control{
  /* center form controls */
  display: inline-block;
  /* override Bootstrap's 100% width for form controls */
  width: auto;
}

main {
  /* scroll horizontally as needed */
  overflow-x: auto;
  /* center contents */
  text-align: center;
}

main img
{
  /* constrain images on small screens */
  max-width: 100%;
}

/* https://www.w3schools.com/css/css3_flexbox.asp */
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  padding-top: 3%;
  max-width: 100%;
  max-height: 85%;
}


/* https://stackoverflow.com/questions/2566290/html-how-to-create-a-div-with-only-vertical-scroll-bars-for-long-paragraphs */
.col-md-4{
  margin-top: 20px;
  margin-bottom: 28px;
  margin-left: 0px;
  margin-right: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 625px;
  max-width: 480px;
}

.col-md-12 {
  margin-top: 15px;
  margin-bottom: 0px;
  margin-left: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 825px;
  max-width: 570px;
}

.col-md-8{
  margin-top: 20px;
  margin-bottom: 28px;
  margin-left: -15px;
  margin-right: 0px;
  max-width: 1250px;
}

img {
  vertical-align: middle;
  border-style: none;
  margin-right: 7px;
}

/* fixed styling for the error messages */
.alert-messages {
  position: fixed;
  top: 76px;
  left: 0;
  right: 0;
  z-index: 7000;
}

.h6, h6 {
    font-size: 1rem;
    padding-top: 8px;
    padding-bottom: 8px;
}

.h3, h3 {
    font-size: 1.75rem;
    padding-top: 8px;
    padding-bottom: 8px;
}

#alert_placeholder {
  position: fixed;
  top: 76px;
  left: 0;
  right: 0;
  z-index: 7000;
}

#map{
  height: 625px;
  width: 100%;
}

ul {
  list-style-type: none;
}

/* https://www.w3schools.com/cssref/sel_class.asp */
.list_item {
  margin-top: 23px;
  margin-bottom: 25px;
  margin-right: -15px;
  padding-top: 21px;
  padding-bottom: 25px;
}

/* https://www.w3schools.com/cssref/sel_class.asp */
.list_item_myparks {
  margin-top: 10px;
  margin-bottom: 25px;
  margin-right: -15px;
  padding-top: 25px;
  padding-bottom: 25px;
  max-width: 550px;
  align-items: center;

}

/* https://stackoverflow.com/questions/1719452/how-to-make-a-div-always-full-screen */
main.container.p-5{
  max-width: 2000px;
  overflow: hidden;
}

.h6, h6 {
    font-size: 1rem;
    padding-top: 0px;
    padding-bottom: 12px;
}
