/*  https://cs50.harvard.edu/x/2020/tracks/web/finance/ */
nav .navbar-brand
{
  /* size for brand */
  font-size: xx-large;
}

nav {
  height: 80px; /* notice this value */
  position: fixed;
}

form {
  margin-top: 0px;
}

.form-control {
  display: block;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.reviews{
  margin-top: 50px;
}

.skatepark-reviews{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -15px;
}

.review_parks {
  margin-right: -15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
  margin-bottom: 50px;
}

main .form-control{
  /* center form controls */
  display: inline-block;
  /* override Bootstrap's 100% width for form controls */
  width: auto;
}

main {
  /* scroll horizontally as needed */
  /* center contents */
  text-align: center;
  overflow-y: scroll;
  margin-top: 80px;
}

/* https://stackoverflow.com/questions/1719452/how-to-make-a-div-always-full-screen */
main.container.p-5 {
  margin-top: 6%;
  max-width: 2000px;
  max-height: 1500px;
}

main img
{
  /* constrain images on small screens */
  max-width: 100%;
}

/* https://www.w3schools.com/css/css3_flexbox.asp */
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  margin-top: 8%;
}

/* https://stackoverflow.com/questions/2566290/html-how-to-create-a-div-with-only-vertical-scroll-bars-for-long-paragraphs */
.col-md-4{
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 625px;
  max-width: 480px;
}

.col-md-12 {
  max-width: 1000px;
  max-height: 600px;
  overflow: auto;
  height: 800px;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;

}

.col-md-8 {
  margin-top: 20px;
  margin-bottom: 0px;
  max-width: 1270px;
  padding-left: 1px;

}

#input-filter{

}

.individual_reviews{
  padding-top: 50px;
}

.col-md-6 {
  margin-top: 20px;
  margin-bottom: 0px;
  max-width: 1270px;
  padding-left: 1px;
}

img {
  vertical-align: middle;
  border-style: none;
  margin-right: 7px;
}

/* fixed styling for the error messages */
.alert-messages {
  position: fixed;
  top: 76px;
  left: 0;
  right: 0;
  z-index: 7000;
}

.h6, h6 {
  font-size: 1rem;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 60px;
}

.h3, h3 {
  font-size: 1.75rem;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 60px;

}

.h4, h4 {
  font-size: 1.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

p.reviews_p{
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: 0px;
}

#alert_placeholder {
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 76px;
  left: 0;
  right: 0;
  z-index: 7000;
}

/* https://stackoverflow.com/questions/38379166/set-size-and-center-alert-box-in-twitter-bootstrap */
.alert {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  width: 100%;
  z-index: 1;
}

#map{
  height: 625px;
  width: 100%;
}

ul {
  list-style-type: none;
}

/* https://www.w3schools.com/cssref/sel_class.asp */
.list_item {
  margin-top: 23px;
  margin-bottom: 25px;
  margin-right: -15px;
  margin-left: 15px;
  padding-top: 21px;
  padding-bottom: 25px;
  align-items: center;
  justify-content: center;
}

/* https://www.w3schools.com/cssref/sel_class.asp */

.list_item_myparks {
  margin-top: 10px;
  margin-bottom: 25px;
  margin-left: 15px;
  margin-right: -16px;
  padding-top: 25px;
  padding-bottom: 25px;
  align-items: center;
  justify-content: center;
}

.buttons{
  margin-top: 10px;
  margin-left: 60px;
}

.gallery-search {
  margin-top: 130px;
  justify-content: center;
  align-items: center;
  display: flex;
}
