
nav .navbar-brand
{
  /* size for brand */
  font-size: xx-large;
}

html {
  height: 100%;
}

body {
  min-height: 70%;
  overflow-y: scroll;
}

form {
  margin-top: 0px;
}

div.login{
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

div.register{
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-control {
  display: block;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.review_parks {
  margin-right: -15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
  margin-bottom: 50px;
}

main .form-control{
  /* center form controls */
  display: inline-block;
  /* override Bootstrap's 100% width for form controls */
  width: auto;
}

main {
  /* scroll horizontally as needed */
  /* center contents */
  text-align: center;
  overflow-y: scroll;
  margin-top: 80px;
}

/* https://stackoverflow.com/questions/1719452/how-to-make-a-div-always-full-screen */
main.container.p-5 {
  margin-top: 6%;
  max-width: 2000px;
  max-height: 1500px;

}

main img
{
  /* constrain images on small screens */
  max-width: 100%;
}

/* https://stackoverflow.com/questions/4296012/hide-div-if-screen-is-smaller-than-a-certain-width */
/* mobile */
/* whent he screen gets below a certian width and collapses, change the max height of the map*/
@media screen and (max-width: 768px) {

  .reviews{
    margin-top: 450px;
    position: fixed;
  }

  .skatepark-reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 1%;
    max-height: 460px;
  }

  /* https://www.w3schools.com/css/css3_flexbox.asp */
  .flex-container {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
    margin-left: 2%;
    margin-right: 2%;
  }

  .list_item_myparks {
    margin-top: 10px;
    margin-bottom: 25px;
    margin-right: -16px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    align-items: center;
    justify-content: center;
  }

  .col-md-8 {
    max-height: 125px;
    margin-top: 100px;
    margin-right: 0px;
  }
  #map{
    max-height: 200px;
  }
  .col-md-4 {
    margin-top: 100px;
    max-height: 325px;
    margin-right: 4%;
    margin-left: -4%;
    margin-bottom: 4%;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .col-md-5 {
    margin-top: 75px;
    margin-bottom: 5px;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-right: 20px;
    margin-left: -35px;
  }

  .col-md-12 {
    max-width: 800px;
    max-height: 450px;
    padding-right: 10px;
    margin-left: -12px;
    margin-top: 25px;
    overflow: auto;
    height: 460px;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
  }

  body {
    min-height: 600px;
    overflow-y: hidden;
  }

  .saved-parks {
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .gallery-search {
    margin-top: 105px;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

/* https://stackoverflow.com/questions/4296012/hide-div-if-screen-is-smaller-than-a-certain-width */
/* desktop */
/* whent he screen gets below a certian width and collapses, change the max height of the map*/
@media screen and (min-width: 769px) {

  .reviews{
    margin-top: 50px;
  }

  .skatepark-reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 2%;
    max-height: 450px;
  }

  /* https://stackoverflow.com/questions/2566290/html-how-to-create-a-div-with-only-vertical-scroll-bars-for-long-paragraphs */
  /* park list */
  .list_item_myparks {
    margin-top: 10px;
    margin-bottom: 25px;
    margin-left: 15px;
    margin-right: -16px;
    padding-top: 25px;
    padding-bottom: 25px;
    align-items: center;
    justify-content: center;
  }

  /* https://www.w3schools.com/css/css3_flexbox.asp */
  .flex-container {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
    margin-top: 9%;
    margin-bottom: 1%;
    margin-left: 2%;
    margin-right: 2%;
  }

  .col-md-4{
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 625px;
  }

  /* map */
  .col-md-8 {
    padding-left: 0px;
  }

  /* my parks */
  .col-md-5 {
    max-width: 600px;
  }

  .col-md-12 {
    max-width: 1000px;
    max-height: 625px;
    overflow: auto;
    height: 850px;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
  }

  .saved-parks {
    margin-top: 120px;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .gallery-search {
    margin-top: 6.5%;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

.individual_reviews{
  padding-top: 50px;
}

img {
  vertical-align: middle;
  border-style: none;
  margin-right: 7px;
}

/* fixed styling for the error messages */
.alert-messages {
  position: fixed;
  top: 76px;
  left: 0;
  right: 0;
  z-index: 7000;
}

.h6, h6 {
  font-size: min(3vw, 15px);
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 60px;
}

.h3, h3 {
  font-size: min(4vw, 26px);
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 60px;
}

.h4, h4 {
  font-size: min(4vw, 22px);
  padding-left: 10px;
  padding-right: 10px;
}

h4.reviews_author {
  margin-top: 25px;
}

.h5, h5 {
  font-size: min(4vw, 26px);
  padding-left: 10px;
  padding-right: 10px;
}

p {
  font-size: min(4vw, 20px);
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 10px;
  padding-right: 10px;
}

p.reviews_p {
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: 0px;
}

p.reviews_text{
  margin-bottom: 20px;
}

#alert_placeholder {
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 76px;
  left: 0;
  right: 0;
  z-index: 7000;
}

/* https://stackoverflow.com/questions/38379166/set-size-and-center-alert-box-in-twitter-bootstrap */
.alert {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  width: 100%;
  z-index: 1;
}

#map{
  height: 625px;
  width: 100%;
}

ul {
  list-style-type: none;
}

/* https://www.w3schools.com/cssref/sel_class.asp */
.list_item {
  margin-top: 23px;
  margin-bottom: 25px;
  margin-right: -15px;
  margin-left: 15px;
  padding-top: 21px;
  padding-bottom: 25px;
  align-items: center;
  justify-content: center;
}

.buttons{
  margin-top: 10px;
  margin-left: 60px;
}

/* margin on the button */
.btn {
  font-size: min(4vw, 16px);
  margin: 3px;
}

.btn-outline-primary {
  color: #007bff;
  background-color: transparent;
  background-image: none;
  border-color: #007bff;
  margin-left: 10px;
}
